* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segui", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  list-style: none;
}
main {
  padding: 0 30px;
}
hr {
  position: absolute;
  top: 80px;
  left: auto;
  border-top: 5px solid #323232;

  width: 60%;
}
h1 {
  font-size: 40px;
  font-weight: 400;
}
h2 {
  color: #129743f6;
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 22px;
}
.cv {
  position: relative;
  max-width: 1300px;

  border-style: solid;
  border-color: #323232;

  margin: 0 auto;
  padding: 0 30px;
}
p,
li {
  line-height: 1.5;
  font-size: 20px;
  font-weight: 500;
}
.highlight {
  color: #0c5fe6;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.3;
}
.hero-details {
  margin-top: 90px;
}
.across-internet {
  margin-bottom: 80px;
}
.experience li {
  list-style: disc;
  margin: 0;
}

.experience ul {
  padding: 0 20px;
}

.hero-details,
.skills,
.education,
.experience,
.company-location,
.across-internet {
  word-wrap: break-word;
  margin-left: 50px;

  line-height: 1.5;
  padding: 10px 30px;
}

.hero-details,
.skills,
.education,
.experience,
.company-location {
  margin-bottom: 20px;
}
@media (min-width: 300px) and (max-width: 1300px) {
  .hero-details,
  .skills,
  .education,
  .experience,
  .company-location,
  .across-internet {
    margin: 0px 0px 20px 0px;
    padding: 1px;
  }
}
@media (min-width: 300px) and (max-width: 500px) {
  h1 {
    font-size: 28px;
  }
}
@media (min-width: 300px) and (max-width: 500px) {
  main {
    padding: 5px;
  }
}

@media (min-width: 300px) and (max-width: 1300px) {
  .hero-details {
    margin-top: 80px;
  }
}
@media (min-width: 300px) and (max-width: 1300px) {
  .across-internet {
    margin-bottom: 80px;
  }
}
